table.calendar {
    border-collapse: collapse;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.calendar th,
.calendar td {
    border: 1px solid #666666;
    width: 30px;
    height: 25px;
    text-align: center;
    padding: 2px 4px;
}

.calendar .month-header {
    background-color: rgb(170, 170, 200);
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}

.calendar .day-header th {
    background-color: rgb(35, 37, 70);
    color: rgb(200, 190, 240);
}

.calendar tbody td:first-child,
.calendar tbody td:last-child {
    background-color: rgb(255, 220, 220);
}

.calendar tbody td.other-month {
    background-color: #f0f0f0;
    color: #999999;
}

.calendar td.feestdag {
    background-color: rgb(250, 120, 120);
}

.calendar a {
    color: blue;
    text-decoration: underline;
}
