body{
    font-family: helvetica, serif;
}

header{
    background-color:#2B2D42;
    padding: 30px;
    margin-bottom: 10px;
    color: #8D99AE;
}

main{
    background-color : #8D99AE;
    padding: 30px;
}

footer{
    background-color:#2B2D42;
    padding: 30px;
    margin-top: 10px;
    color: #8D99AE;
}

h1{
    font-size: 80px;
}

h1 > header{
    font-size: 80px;
    color: #EDF2F4;
}

h2{
    font-size: 40px;
}
a{
    color: #EF233C;
}