.wrapper{
    width : 95%;
    text-align: center;
    font-family: Arial,Helvetica,sans-serif;
    margin: 0 auto;
}

header {
    text-align: center;
    color: darkblue;
    background-image: url("../images/bgsky3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height : 200px;
}

header h1{
    font-size: 300%;
    font-weight: bold;
    font-style: italic;
}

header p{
    font-size: 240%;
    font-weight: bold;
}

header img{
    top: 140px;
    left : 250px;
}

aside{
    float: right;
    width: 25%;
    box-sizing: border-box;
    border: 1px solid #999999;
    background-color: #dddddd;
}

aside p{
    color: #666666;
    font-size: 90%;
    margin-right: 10px;
    margin-left: 10px;
}

aside h3{
    text-align: center;
    color: white;
    background-color: blue;
    font-size: 120%;
}

main{
    width: 75%;
    float: left;
    box-sizing: border-box;
    margin-top: 10px;
}

.introduction{
    background-color: white;
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 30px;
}

.introduction span{
    color: blue;
    font-weight: bold;
    font-style: italic;
}

.logo{
    text-align: left;
}

.gallary{
    float: left;
    box-sizing: border-box;
    background-color: #999999;
}

.foto{
    padding: 10px;
    margin : 10px;
    background-color: white;
    display: inline-block;
    height : 180px;
    width: 180px;
    border: 1px dotted white;
}

footer {
    clear: both;
    background-color: #666666;
    color: white;
}

footer a:hover {
    color: red
}

.block{
    display: inline-block;
}
