.wrapper {
    width: 95%;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}


header {
    position: relative;
    text-align: center;
    color: darkblue;
    background-image: url("../images/bgsky3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}

header h1 {
    font-size: 300%;
    font-weight: bold;
    font-style: italic;
}

header p {
    font-size: 240%;
    font-weight: bold;
}

.header-plane {
    position: absolute;
    right: 250px;
    bottom: 60px;
}


.news-block {
    float: right;
    width: 25%;
    background-color: #dddddd;
    margin-top: 10px;
}

.news-block h3 {
    text-align: center;
    color: white;
    background-color: blue;
    font-size: 120%;
    margin: 0;
}

.news-block p {
    color: #666666;
    font-size: 90%;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}






main {
    float: left;
    width: 75%;
    margin-top: 10px;
}



.introduction {
    text-align: left;
    margin-top: 20px;
    margin-right: 30px;
    margin-bottom: 20px;
}

.introduction span {
    color: blue;
    font-weight: bold;
    font-style: italic;
}

.logo {
    float: left;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}


.gallery {
    background-color: #999999;
    text-align: center;
}

.photo {
    padding: 10px;
    margin: 10px;
    background-color: white;
    display: inline-block;
    height: 180px;
    width: 180px;
    border: 1px dotted white;
}

.photo img {
    width: 100%;
    height: auto;
}

footer {
    clear: both;
    background-color: #666666;
    color: white;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
}

.block {
    display: inline-block;
    margin-left: 120px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: red;
}

.copyright {
    text-align: center;
    background-color: white;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}
