body > div {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(3, auto);
    gap: 10px;
    padding: 20px;
    background: #eee;
}

body > div > div {
    color: white;
    font-size: 3em;
    padding: 20px;
    text-align: center;
}

.item-1 { background: #b03532; }
.item-2 { background: #33a8a5; }
.item-3 { background: #30997a; }
.item-4 { background: #6a478f; }
.item-5 { background: #da6f2b; }
.item-6 { background: #3d8bb1; }
.item-7 { background: #e03f3f; }
.item-8 { background: #59a627; }
.item-9 { background: #4464a1; }

.item-1 { grid-row: 1 / 2; grid-column: 1 / 2; }
.item-2 { grid-row: 1 / 2; grid-column: 2 / 3; }
.item-3 { grid-row: 1 / 2; grid-column: 3 / 4; }

.item-4 { grid-row: 2 / 3; grid-column: 1 / 2; }
.item-5 { grid-row: 2 / 3; grid-column: 2 / 3; }
.item-6 { grid-row: 2 / 3; grid-column: 3 / 4; }

.item-7 { grid-row: 3 / 4; grid-column: 1 / 2; }
.item-8 { grid-row: 3 / 4; grid-column: 2 / 3; }
.item-9 { grid-row: 3 / 4; grid-column: 3 / 4; }

@media screen and (max-width: 760px) {
    body > div {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto;
    }

    .item-9 { grid-row: 1 / 2; grid-column: 1 / 2; }
    .item-2 { grid-row: 1 / 2; grid-column: 2 / 3; }

    .item-4 { grid-row: 2 / 3; grid-column: 1 / 2; }
    .item-5 { grid-row: 2 / 3; grid-column: 2 / 3; }

    .item-7 { grid-row: 3 / 4; grid-column: 1 / 2; }
    .item-8 { grid-row: 3 / 4; grid-column: 2 / 3; }

    .item-3 { grid-row: 4 / 5; grid-column: 1 / 3; }

    .item-1, .item-6 { display: none; }
}
