main {
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr;
}

.block {
    padding: 20px;
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.block1 { background:#b0184a; }
.block2 { background:#6a659d; }
.block3 { background:#607fb6; }
.block4 { background:#9ad8dc; }

@media screen and (min-width: 321px) and (max-width: 772px) {
    .block1 { order: 2; }
    .block2 { order: 1; }
    .block3 { order: 3; }
    .block4 { order: 4; }
}

@media screen and (min-width: 773px) and (max-width: 992px) {
    .block1 { order: 1; }
    .block3 { order: 2; }
    .block2 { order: 3; }
    .block4 { order: 4; }
}

@media screen and (min-width: 993px) {
    main {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto auto auto;
    }

    .block1 {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        order: 0;
    }
    .block2 {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
        order: 0;
    }
    .block3 {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        order: 0;
    }
    .block4 {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
        order: 0;
    }
}
