.container{
    background-color: cornflowerblue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.container .block{
    margin: 20px;
    padding: 20px;
    background-color: white;
}

.block.block1{
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}
.block.block2{
    grid-row: 5 / 6;
    grid-column: 1 / 2;
}
.block.block3{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}
.block.block4{
    grid-row: 4 / 5;
    grid-column: 2 / 3;
}
.block.block5{
    grid-row: 3 / 4;
    grid-column: 3 / 4;
}
.block.block6{
    grid-row: 2 / 3;
    grid-column: 4 / 5;
}
.block.block7{
    grid-row: 4 / 5;
    grid-column: 4 / 5;
}
.block.block8{
    grid-row: 1 / 2;
    grid-column: 5 / 6;
}
.block.block9{
    grid-row: 5 / 6;
    grid-column: 5 / 6;
}

@media screen and (max-width: 700px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .container .block {
        grid-row: auto;
        grid-column: auto;
    }
}




