html {
    background-color: #333;
    font-family: helvetica, serif;
    margin-bottom: 20px;
}

* {
    padding: 10px;
}

body{
    background-color: white;
}

header{
    text-align: center;
    background-color: orange;
}

header h1{
    color: white;
}

nav{
    text-align: center;
    display: flex;
    justify-content: space-around;
    background-color: lightgray;
}

nav a{
    background-color: white;
    padding: 10px;
    border: 1px solid black;
    color: orange;
    flex: 1;
    margin: 2px;

}

main{
    background-color: grey;
    margin-bottom: 10px;
}

div{
    margin: 10px;
    background-color: white;
}

div a{
    border: 1px solid grey;
    color: grey;
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
}


footer{
    text-align: center;
    background-color: orange;
    color: white;
}

@media screen and (min-width: 701px) {
    main{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 700px) {
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


