body {
    margin: auto;
    width: 95%;
}

section > header {
    background-image: url("images/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px;
    position: relative;
}

section > header h1 {
    position: absolute;
    top: 10px;
    left: 10px;
    margin: 0;
    color: white;
}

article {
    background-color: #EDF2F4;
    margin: 10px 0;
    padding: 10px 15px;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
}


article h2 {
    color: #333333;
    font-weight: bold;
    text-decoration: underline;
}

nav {
    background-color: #333333;
    padding: 10px;
}

nav a {
    color: green;
    font-weight: bold;
}
