h1{
    font-family: Arial, serif;
    font-size: 1.8em;
}
h2{
    font-family: Arial, serif;
    font-size: 1.5em;
}
h3{
    font-family: Arial, serif;
    font-size: 1.4em;
}

p{
    font-family: Times New Roman, serif;
    font-size: 1.2em;

}

.blauw{
    color: blue;
}

.rood{
    color: red;
}

.groen{
    color: green;
}